**

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!turbo.json
!.env.example
!.prettierignore
!eslint.config.mjs
!apps/
!apps/**
!packages/
!packages/**

**/.env
**/.env.*
**/.next
**/.turbo
**/coverage
**/dist
**/node_modules
**/out
**/__pycache__
**/*.db
**/*.key
**/*.log
**/*.pem
**/*.pyc
**/*.sqlite
**/target

!.env.example
