.git
.github
.artifacts
.env
.env.*
!.env.example
.reflo
.terraform
**/.next
**/.turbo
**/coverage
**/dist
**/node_modules
**/out
**/__pycache__
*.log
*.pyc
*.tfplan
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
